 {{!-- {{#if req.session.loggedIn}}   --}}
  {{!-- add with auth here --}}

   <div id="allReviewSection" class="d-flex flex-column gap-3">

        <div id="allReviews">
            <h5 id="head" class="wgBorder">WELCOME TO THE WEED FEED</h5>
            <div id="allReviewSection" class="d-flex flex-column gap-3">

            <div id="revSec">
                
                    <div id="postRev">
                        <div id="postRevHead" class="wgBorder">
                            <h5>Thoughts? Write 'em here.</h5>
                        </div>

              <form class="postReview">
                        
<!-- Rev Title -->

                          <div>
                            <textarea name="title" id="title" placeholder="Review Title"></textarea>
                          </div>

<!-- Strain Title -->
                          {{!-- <div>
                    
                            <textarea type="text" name="strain_id" id="srain_title"
                                placeholder="Which strain are you reviewing?" required></textarea>


                          </div> --}}
{{!-- <form action="#">
      <label for="strainOpt">Choose a language:</label>
      <select name="languages" id="strainOpt" required>
        <option value="1">White Widow</option>
        <option value="2">Wedding Cake</option>
        <option value="3">GG4</option>
        <option value="4">Blue Dream</option>
        <option value="5">Sour Diesel</option>
        <option value="6">Girl Scout Cookies</option>
        <option value="7">Mac-1</option>
        <option value="8">Jack Herer</option>
        <option value="9">Pineapple Express</option>
        <option value="10">Cereal Milk</option>
        <option value="11">Mandarine Cookies</option>
        <option value="12">Bruce Banner</option>
        <option value="Alien-Cookie">Alien Cookie</option>
        <option value="Grape-Stomper">Grape Stomper</option>
        <option value="Bubba-Fett">Bubba Fett</option>
        <option value="Bio-Jesus">Bio Jesus</option>
        <option value="Cherry-Chem">Cherry Chem</option>
        <option value="Bubble-Gum">Bubble Gum</option>
        <option value="Burnt-Toast">Burnt Toast</option>
        <option value="Northern-Lights">Northern Lights</option>
        <option value="OG-Kush">OG Kush</option>
        <option value="Green-Crack">Green Crack</option>
        <option value="Amnesia-Haze">Amnesia Haze</option>
        <option value="Alaskan-Thunder-Fuck">Alaskan Thunder Fuck</option>
        <option value="Purple-Haze">Purple Haze</option>
      </select>
</form> --}}
 <select name="strains" id="strains">
    {{#each strains as |strain|}}
        <option value={{strain.id}}>{{strain.name}}</option>
    {{/each}}
    </select>
<!-- Rev Buttons -->

                    </div>

                        <div class="buttonrow">
                            <button type="button" id="rating" class="ratebutton" #"1">1</button>
                            <button type="button" id="rating" class="ratebutton" #"2">2</button>
                            <button type="button" id="rating" class="ratebutton" #"3">3</button>
                            <button type="button" id="rating" class="ratebutton" #"4">4</button>
                            <button type="button" id="rating" class="ratebutton" #"5">5</button>
                        </div>

<!-- Rev Text -->

                        <div>
                            <textarea id="content" placeholder="Write your review here, my dude." required></textarea>
                        </div>

                        <div>

<!-- Submit Button -->

                            <div>
                                <button type="submit">Submit</button>
                            </div>
                        </div>
                  </div>
              </form>
    </div>

   

                <div id="showAllRev">
                    {{#each reviews as |review| }}
                    <div class="row align-center mb-5 reviews">
                    <div class="col-md-12">
                    </div>
                    <div class="col-md-12">
                    {{!-- todo add cards here --}}
                    <div class="topCard">
                    <h2>{{{review.title}}}</h2>
                    <h3>{{{review.rating}}} stars</h3>
                    {{!-- <h3>{{{review.strain_id}}}</h3> --}}

                    </div>
                    <div class="bottomCard">
                    <p>{{{review.content}}}</p>
                    <p class="date">{{{review.timestamp}}}</p>
                    </div>
                    </div>
                    </div>
                    {{/each}}



                </div>

            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/submitReview.js"></script>
 
  {{!-- {{/if}} --}}