<div class="row align-center mb-5">
  <div class="col-md-6">
  </div>

{{#each strains as |strain| }}
      <div class="row align-center mb-5">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
      {{!-- todo add cards here --}}
      <h2>{{{strain.name}}}</h2>
      <h3>{{{strain.type}}}</h3>
      <h3>{{{strain.positive_effects}}}</h3>
    <h3>{{{strain.negative_effects}}}</h3>
    <img src="{{{strain.img}}}" style="height: 10em" alt="{{strain.name}}">
  </div>
</div>
{{/each}}
  </div>
</div>


