<div class="row align-center mb-5">
{{#each strains as |strain| }}
      <div class="row align-center mb-5 strainBox">
      {{!-- todo add cards here --}}
      <h2>{{{strain.name}}}</h2>
      <h4><b>Type:</b> {{{strain.type}}}</h4>
      <p><b>positive effects:</b> {{{strain.positive_effects}}}</p>
      <p><b>negative effects:</b> {{{strain.negative_effects}}}</p>
      <img src="{{{strain.img}}}" style="height: 10em" alt="{{strain.name}}"> 
</div>
{{/each}}
</div>


